body {
    background-color:lightslategrey;
    color:black;
}
.fokep{
    display: block;
    margin: 0, auto;
}
.kep-jobbra{
    float: right;
    width: 70px; 
}
.kep-kozep{
    margin: 0 auto;
    text-align: center;

}
.szovegtest{
    margin:  auto;
    width: 900px;
    padding: 5px;
    border-top: solid 10px gray;
    border-left: solid 50px gray;
    border-right: solid 50px gray;
    border-bottom: solid 10px gray;
    background-color:cornsilk;
    
}
.tudoskep{
    height: 100px;
    margin: 10px;
    
}