body {
    background-color:lightslategrey;
    color:black;
}
.fokep{
    display: block;
    margin: 0, auto;
}
.szovegtest{
    margin:  auto;
    width: 900px;
    padding: 5px;
    border-top: solid 10px gray;
    border-left: solid 50px gray;
    border-right: solid 50px gray;
    border-bottom: solid 10px gray;
    background-color:cornsilk;
    
}
.tudoskep{
    height: 100px;
    margin: 10px;
}
.kep-fent {
    float: right;
    position: relative;
    top: 0;
    left: 0;
    width: 70px;
}
.kep-lent {
    float: right;
    position: relative;
    top: 40px;
    left: 70px;
    width: 70px;
}