body {
    background-color: beige;
    color: navy;
}
.kep-jobbra{
    float: right;
    width:80px; 
}
.szovegtest{
    margin: 0px,auto;
    border-left: solid,20px,gray;
    border-right: solid,20px,gray;
}
.tudoskep{
    height: 50px;
}